.bg_wrap {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url(../../public/source/bg.jpg);
  .logo {
    width: 300px;
    height: 80px;
    background: skyblue;
    position: absolute;
    bottom: -50px;
    left: 75px;
  }
}
