.header {
  width: 100%;
  height: 300px;
  background-image: url(../../public/source/bg.jpg);
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .account {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 75px;
      background: rgba(255, 255, 255, 0.2);
      .account_list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        .account_img {
          width: 50px;
          height: 50px;
          background: red;
          border-radius: 100%;
        }
        li {
          a {
            color: #fff;
          }
        }
      }
    }
    .nav {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 75px;
      background: rgba(0, 0, 0, 0.5);
      .nav_inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        .logo {
          width: 200px;
          height: 100%;
          background: red;
        }
        .nav_list {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 50px;
          gap: 20px;
          li {
            padding: 5px 5px 5px 5px;
            a {
              color: #fff;
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
