@charset "utf-8";

.intro_wrap {
  z-index: 999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;

  .intro_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: #d9d9d9;
    border-radius: 15px;
    padding: 30px;
    .intro_box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      .intro_logo {
        width: 100%;
        height: 125px;
        background: skyblue;
      }
      h1 {
        text-align: center;
        margin-top: 30px;
      }
      button {
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: none;
      }
    }
  }
}
