.note_wrap {
  min-height: 700px;
  height: 100%;
  .note_wrap_inner {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 550px;
    border-radius: 30px;
    background: #e5e5e5;
    padding: 50px 0px;
  }
  .button_form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 35px;
    gap: 10px;
    padding-right: 20px;
    button {
      width: 150px;
      border-radius: 100px;
      background: #f3f3f3;
    }
    button:hover {
      background: #d0d0e9;
    }
  }
  .title_box {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    .memo_button {
      margin-top: 20px;
      width: 200px;
      font-size: 18px;
      height: 50px;
      text-align: center;
      border-radius: 100px;
      border: none;
      cursor: pointer;
    }
    .memo_button:hover {
      background: rgb(177, 204, 255);
    }
  }
  .note_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 15px;
    li {
      display: flex;
      justify-content: space-between;
      gap: 1%;
      height: 50px;
      span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2%;
        border-radius: 100px;
        font-size: 18px;
        color: #fff;
      }
      .note_list_title {
        width: 20%;
        background: #899cce;
        border-radius: 100px;
        p {
          width: 100%;
        }
      }
      .note_list_text {
        display: flex;
        justify-content: space-between;
        width: 80%;
        background: #899cce;
        border-radius: 100px;
        p {
          width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
        .list_func {
          display: flex;
          gap: 10px;
          padding-right: 20px;
          button {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            cursor: pointer;
            background: #e7e7e7;
          }
          button:hover {
            background: #d0d0e9;
          }
        }
      }
    }
  }
}

// .note_wrap_inner::after {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   content: "";
//   width: 500px;
//   height: 500px;
//   background-image: url(../../public/source/plan2.png);
//   background-repeat: no-repeat;
//   background-size: contain;
//   opacity: 0.1;
// }
