@import "bg";
@import "header";
@import "footer";
@import "main";
@import "note";
@import "intro";
@import "mypage";
@import "notewrite";
@import "studyplan";
@import "studywrite";
@import "strudylist";
.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding-bottom: 200px;
  }
}
