@import "bg";
@import "header";
@import "main";
.wrap {
  margin: 0 auto;
  width: 100%;
  height: 3000px;
  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 1400px;
    height: 100%;
  }
}
